!.gitignore
*.bak
*.aps
*.dds
*.dll
*.exp
*.idb
*.ipdb
*.iobj
*.lib
*.log
*.monad-*
*.obj
*.pch
*.pdb
*.pso
*.res
*.resources
*.tlog
*.TrustInfo.xml
*.user
.vs
/ipch
xproj.user
BuildLog.htm
mt.dep
*.combine
*.FileListAbsolute.txt
*.$$$
*.cache
Release
Debug
ARM64Release
ARM64Debug
MonadLog*
*.recipe
*.m12
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
/UpgradeLog.htm
x64
ARM64
obj
*.Output
*.pcm
*.exe
*.msi
net10.0
!Tex*.exe
!bmfont64.exe
!sea.dds
*.suppress
/Apps/Name2Date/Debug/
/MonadEngine/bin/net*/
/Apps/EXT2ext/Debug
/PrivateApps
desktop.ini
*.msix*
/Apps/EnchantedCrayon/Setup/SetupBook/AppPackages
/Libs/curl/win64-mingw.zip
/Libs/curl/win64a-mingw.zip
/Libs/curl/Current Name ARM64.txt
/Libs/curl/Current Name x64.txt
